background_color                #222436
dark_mode_background_color       #222436
ui_background_color             #222436
ui_text_color                   #c8d3f5
ui_selected_background_color    #444a73
ui_selected_text_color          #c8d3f5
status_bar_color                #222436
status_bar_text_color           #c8d3f5
custom_background_color         #222436
custom_text_color               #c8d3f5
text_highlight_color            #ffc777
visual_mark_color               #82aaff
search_highlight_color          #ffc777
link_highlight_color            #82aaff
synctex_highlight_color         #c3e88d
highlight_color_a               #ffc777
highlight_color_b               #c3e88d
highlight_color_c               #82aaff
highlight_color_d               #ff757f
highlight_color_e               #c099ff
highlight_color_f               #ff757f
highlight_color_g               #ffc777
status_bar_font_size            20
font_size                       20
ui_font                         Hack Nerd Font
should_launch_new_window        1
show_document_name_in_statusbar 1
multiline_menus                 1
super_fast_search               1
search_url_g                    https://google.com/search?q=
search_url_s                    https://math.stackexchange.com/search?q
search_url_w                    https://www.wikiwand.com/en/
search_url_l                    http://libgen.rs/search.php?req=
search_url_a                    https://www.wolframalpha.com/input?i2d=true&i=
search_url_m                    https://mathworld.wolfram.com/search/?query=
inverse_search_command          "nvim %1 +%2"

new_command _embed_annotations python -m sioyek.embed_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"
