#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=wezterm -e nvim %f
Name=nvim
Comment=Custom definition for foot
